.side
  .side__header
    .side__header__box
      %p.side__header__box__user-name masa
      %ul.icn
        %li.icn__list-1
          %a{:href => "#"}
            %i.fa.fa-edit

          
        %li.icn__list-2   
          %a{:href => "#"}  
            %i.fa.fa-cog
  .side__groups
    %a{:href => "#"}
      .side__groups__group
        .side__groups__group__name techcamp
        .side__groups__group__message まだメッセージがありません
    %a{:href => "#"}
      .side__groups__group
        .side__groups__group__name techcamp
        .side__groups__group__message まだメッセージがありません
    %a{:href => "#"}
      .side__groups__group
        .side__groups__group__name techcamp
        .side__groups__group__message まだメッセージがありません
