.side
  .side__header
    .side__header__box
      %p.side__header__box__user-name 
      = current_user.name
      %ul.icn
        %li.icn__list-1
          =link_to "#" do
            %i.fa.fa-edit
          %span<> 
          
        %li.icn__list-2   
          =link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
          %span<> 
  .side__groups
    =link_to "#" do
      .side__groups__group
        .side__groups__group__name techcamp
        .side__groups__group__message まだメッセージがありません
    %span<>    
    =link_to "#" do
      .side__groups__group
        .side__groups__group__name techcamp
        .side__groups__group__message まだメッセージがありません
    %span<>    
    =link_to "#" do
      .side__groups__group
        .side__groups__group__name techcamp
        .side__groups__group__message まだメッセージがありません
    %span<>    
    =link_to "#" do
      .side__groups__group
        .side__groups__group__name techcamp
        .side__groups__group__message まだメッセージがありません
    %span<>    
    =link_to "#" do
      .side__groups__group
        .side__groups__group__name techcamp
        .side__groups__group__message まだメッセージがありません
    %span<>    
    